.list-card {
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
}

.list-image {
  width: 100%;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px;
}

.card-name {
  color: #ffffff;
  font-size: 16px;
}

.remove-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 8px;
  border-radius: 6px;
}
